.page-header
  %h1
    Communitureとは
.row
  .span12
    %ul.flows
      %li.flow
        .flow_01
          .title
            %h2 Communiture名前の由来
          .caption
            %p Communitureは「起業の前に修業」がコンセプトのサービスです。明日の起業家と熱意ある企業様をつなぐWebサービスで、起業する方が足りないスキルを補える修業先を探せるサービスです。
            %p 例えば「起業を決心した。しかし、未経験の分野がある。起業の前に胸を借りて修業したい」と考えている方が修業先を探せます。
            %p Communitureの名前は「Communicate to the Future」を短縮した造語です。
            %p 将来の自分を想像して、そのために今、何に取り組むべきかを懸命に考え、自分のやりたいことをやってほしいという意味が込められています。
      %li.flow
        .flow_01
          .title
            %h2 ミッション
          .caption
            .eyecatch
              %p Communitureのミッションは
              %h3 「夢に挑戦する楽しさをすべての人に！」
            %p Communitureは、自分のやりたいことをやっている人が一番輝いていると信じています。人間がもっとも生産的になれるのは、自分にとって大切なことや自分が考え出したことを行っているときだと考えています。なぜなら、大きな情熱を持てるし、自分が物語の主人公になれるからです。自分のやりたいことに挑戦する楽しさを追求できる環境を、作ることがわたしたちの目標です。
      %li.flow
        .flow_01
          .title
            %h2 会社概要
          .caption
            %table.table.table-bordered
              %tbody
                %tr
                  %th 社名 
                  %td 株式会社Communiture (Communiture Inc.)
                %tr
                  %th 設立 
                  %td 2012年9月4日
                %tr
                  %th 資本金 
                  %td 8,000,000
                %tr
                  %th 所在地
                  %td 〒177-0052 東京都練馬区関町東1-12-5　サンセゾン101
                %tr
                  %th 最寄り駅
                  %td 西武新宿線上石神井駅　
                %tr
                  %th 役員構成
                  %td 代表取締役　宮内 達也
                %tr
                  %th 事業内容
                  %td Communitureの運営
                %tr
                  %th お問い合わせ先 
                  %td info@communiture.com