.page-header
  %h1
    利用規約
.row
  .span12
    %dl
      %dt 利用規約
      %dd 株式会社Communiture（以下、「当社」という）は、当社の提供するインターネットサービス（以下「本サービス」という）に関し、本サービスを利用する個人、または企業に対し以下の規約を定めます。
    
    %dl
      %dt 本規約の範囲および変更
      %dd インターネットを通じてオンラインまたは当社が提供する手段を通じ随時利用者に対して発表される諸規定は、本規約の一部を構成し、利用者はこれを承諾するものとします。
      %dd また、当社は、利用者の了承を得ることなくこの規約を変更することがあり、利用者はこれを承諾します。
      %dd この変更は本サービスのオンラインまたは当社が提供する手段を通じて随時利用者に発表します。
    
    %dl
      %dt 定義
      %dd 本利用規約において、次の各号に掲げる用語の意義は、当該各号に定めるところによります。
      %dd
        %ul
          %li 本サイト 株式会社Communitureが提供するウェブサイト http://communiture.com をいいます。
          %li 本サービス　本サイト上で提供される全てのサービスをいいます。
          %li 利用者　　　本サイトを利用する者（企業を含みます。）をいいます。
          %li 修業　　　　本サービスにおける仕事体験の通称です。
    
    %dl 
      %dt 本サービスの内容
      %dd
        %ol
          %li 本サービスは、本サイトに掲載されている企業と起業を目指す個人をつなぎます。
          %li 利用者は、本サービスを利用して、本サイトに掲載されている起業を閲覧し、修業に申し込むことができます。
          %li 本サービスのご利用者様は、本利用規約に従うものとします。また、ご利用者様が未成年者の場合、本サービスの利用については法定代理人の承諾を必要とします。
    
    %dl
      %dt 本サービスの提供停止、登録情報の抹消について
      %dd ご利用者様が以下の各号のいずれかに該当する場合、当社は事前の通知、承諾なしに、本サービスの提供の停止、または登録情報を抹消することができるものとします。
      %dd また、当社が前述の措置を行ったことによってご利用者様または第三者に生じた損害について、当店は一切の責任を負わないものとします。
      %dd
        %ol
          %li 本利用規約、その他当店が定める規定に違反した場合
          %li 登録内容に虚偽があったことが判明した場合
          %li 電子メール、電話その他の連絡手段をもってしても、ご利用者様との連絡が取れなくなった場合
          %li その他、当店が不適切と判断した場合
    
    %dl
      %dt 禁止事項 
      %dd 本サービスのご利用にあたり、以下の行為を禁じます。
      %dd
        %ol
          %li 本利用規約、本サイト記載の注意事項に違反する行為
          %li 第三者もしくは当社に権利、利益、名誉等を損ねる行為、またはその恐れのある行為
          %li 公序良俗に反する行為、その他法令に違反する行為、またはその恐れのある行為
          %li 本サービスの利用に際し、虚偽の内容を申請する行為
          %li 当社が提供する情報や商品を転売・営利目的で利用する行為、またはその準備を目的とする行為
          %li 有害なプログラムを使用する行為、またはその準備を目的とする行為
          %li 本サービスのサーバー、その他コンピューターに不正にアクセスする行為、またはその準備を目的とする行為
          %li その他当店が不適切と判断する行為
    
    %dl
      %dt 免責事項
      %dd 
        %ol
          %li 当社は、本サービスが提供する情報等について、その完全性、正確性、確実性、有用性を保証いたしません。
          %li 当社は、ご利用者様に生じた損害、損失、不利益などに関して、「■本サービスの内容」に定める以外のいかなる責任も負わないものとします。
          %li 当社は、本サービスが利用できなかったことにより生じた損害、損失、不利益などに関していかなる責任も負わないものとします。
          %li ご利用者様が本サービスを利用することによって、第三者に対して損害、損失、不利益などが生じた場合、当該ご利用者様は自己の責任と負担において解決し、当店には一切迷惑を与えないものとします。
          %li 当社は、本サービスを利用されて行った修業先とのトラブルについて責任を負わないものとします。
          %li 当社は、会員への事前の通知なくして、本サービスの諸条件、運用規則、または本サービスの内容を変更することがあり
    
    %dl
      %dt 著作権について 
      %dd 本サイトに記載されているあらゆるデータ、デザイン、画像、文字等のコンテンツの著作権は、当店または原著作者等正当な著作者に帰属します。これらのコンテンツを権利者の許諾なく、著作権、商標権、その他知的財産権に規定された範囲を超えて使用する行為は禁止されています。
    
    %dl
      %dt 料金など
      %dd 本サービスの利用料金、算定方法およびその支払い方法などは、別途定める内容に従うものとします。
      %dd なお、個別に支払方法などが規定されている場合には、その条件に従うものとします。会員は、利用料金などに係わる消費税およびその他、賦課される税を負担するものとします。
      %dd 支払方法は、提供者が指定する方法によるものとします。
    
    %dl
      %dt 準拠法と管轄裁判所
      %dd 本規約の執行可能性、解釈および有効性は、日本国法に従って判断されるものとします
      %dd 東京高等裁判所、東京簡易裁判所