.page-header
  %h1
    応募フォーム 
.row
  .span12
    %iframe{:frameborder => "0", :height => "1236", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/spreadsheet/embeddedform?formkey=dDN3MkxCMTJyVjQtSkdIQVRzdC1mUUE6MQ", :width => "760"} 読み込み中...

