.marketing
  .hero-unit
    %h1 起業する前に修行しよう！ 9月末オープン予定!!
    %p 起業してビジネスを始める前に修行場所が探せます
    %p
      = image_tag 'okami.jpg', width: '940'
    
#experience
  .row-fluid
    %h2
      %i.icon-search
      修行場所の一覧
    %ul.thumbnails
      - @experiences.each do |experience|
        %li.experience.span4
          .thumbnail
            .photo= image_tag 'suit.jpg', width: '300'
            .caption
              .title= link_to experience.title, experience
              .description= experience.description
            %p
              %a.btn.btn-primary{:href => "#"} Action
              %a.btn{:href => "#"} Action
    .btn-toolbar{:style => "margin: 0;"}
      .btn-group
        %button.btn 1
        %button.btn 2
        %button.btn 3
        %button.btn 4
      .btn-group
        %button.btn 5
        %button.btn 6
        %button.btn 7
      .btn-group
        %button.btn 8
