.eye_catch
  %h1 起業に挑戦する人に
  %p 起業する！胸に秘めた熱い想い。だけど、足りないスキルがあって踏み出すのを考えてしまう。
  %p Communitureは「起業の前に修業できる」新しい生活への第一歩を応援します。
  %a.btn.btn-info{:href => "#"} Communitureとは
.experiences.row-fluid
  %h2
    ここで修業できる
  %ul.thumbnails
    %li.experience.span12
      .thumbnail
        .photo= image_tag 'HJP_1.jpg', width: '300'
        .caption
          .title
            %a{:href => "training/training1"} セールスプロモーション事業のプロジェクトリーダー・セールスコンサルタント、営業の修業ができる。
          .policy
            %p わたくしどもが求めるのは、素直さと情熱を持った志高き人財です。若い力が周りを動かし、日本を元気にしていきます。若い人が夢を持ち、夢を語り、そして実現していき、いち日本人としての誇りを持ち、世界に行ってもリーダーシップを発揮出来る人材を輩出していく国にしていくことが私達の使命です。 
          .client
            .company_name
              %a{:href => "training/training1"} 株式会社HJP Corporation
            .executive
              %p 代表取締役社長 高橋秀志
    %li.experience.span12
      .thumbnail
        .photo= image_tag 'woman.jpeg', width: '300'
        .caption
          .title
            %a{:href => "training/training2"} 真の技術革新と小回り経営の両立により世界シェア90%
          .policy
            %p 全社員がひとつの目標に迎えるような環境を作ることが大切です。商品の価値だけでなく、その先にあるお客様のおいしい笑顔を見たい。
          .client
            .company_name
              %a{:href => "http://www.web-mihon.com/privacy.html"} 会社の名前ああああああ
            .executive
              %p 役員の名前ああああああああああああ
    %li.experience.span12
      .thumbnail
        .photo= image_tag 'man.jpeg', width: '300'
        .caption
          .title
            %a{:href => "experiences.html"} 商品の価値だけでなく、その先にあるお客様のおいしい笑顔を見たい。
          .policy
            %p コミットメント。宣言して、やり抜く。クリアできたら更に高い目標を設定し、宣言し、やり抜く。宣言する事で逃げられなくなるし、周囲の注目も集る。協力者も現れる。その為に、深く考えすぎない。出来ると信じる。でも時には休養も必要。遊びも必要。コミットメントとは、自分を縛る事ではなく、自らが主導権を持つ事。それがストレスのない働き方にも繋がる。
          .client
            .company_name
              %a{:href => "http://www.web-mihon.com/privacy.html"} 会社の名前ああああああ
            .executive
              %p 役員の名前ああああああああああああ
    %li.experience.span12
      .thumbnail
        .photo= image_tag 'taps.jpeg', width: '300'
        .caption
          .title
            %a{:href => "experiences.html"} QOLの向上を目指して。誰もが安心して暮らせる世の中を創造する
          .policy
            %p 私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。
            %p 私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界は一つです。私達のミッションは、誰もが安心して暮らせる世の中を創造することです。世界
          .client
            .company_name
              %a{:href => "http://www.web-mihon.com/privacy.html"} 会社の名前ああああああ
            .executive
              %p 役員の名前ああああああああああああ
  .btn-toolbar{:style => "margin: 0;"}
    .btn-group
      %button.btn 1
      %button.btn 2
