.marketing
  .hero-unit
    %h1 転職する前にためそう！
    %p 社会人のための職業体験・インターンシップが探せます
    %p
      = image_tag 'http://www.shigoto-ryokou.com/images/main-title06.jpg', width: '940'
    
#experience
  .row-fluid
    %h2 体験できる企業
    %ul.thumbnails
      - @experiences.each do |experience|
        %li.experience.span4
          .thumbnail
            .photo= image_tag 'http://www.shigoto-ryokou.com/tmp_img/m_jobs_pic01_20120726191614.jpg', width: '300'
            .caption
              .title= link_to experience.title, experience
              .description= experience.description
            %p
              %a.btn.btn-primary{:href => "#"} Action
              %a.btn{:href => "#"} Action
    .btn-toolbar{:style => "margin: 0;"}
      .btn-group
        %button.btn 1
        %button.btn 2
        %button.btn 3
        %button.btn 4
      .btn-group
        %button.btn 5
        %button.btn 6
        %button.btn 7
      .btn-group
        %button.btn 8
