.marketing
  .hero-unit
    %h1 起業する前にためそう！
    %p 起業したい人のための職業体験・インターンシップが探せます
    %p
      = image_tag 'http://www.pakutaso.com/assets_c/2012/08/N112_genkansakideodemukae500-thumb-632x500-1969.jpg', width: '940'
    
#experience
  .row-fluid
    %h2
      %i.icon-search
      体験できる職種
    %ul.thumbnails
      - @experiences.each do |experience|
        %li.experience.span4
          .thumbnail
            .photo= image_tag 'http://www.pakutaso.com/assets_c/2012/08/N112_sukejyurucyouseicyu500-thumb-750x500-1959.jpg', width: '300'
            .caption
              .title= link_to experience.title, experience
              .description= experience.description
            %p
              %a.btn.btn-primary{:href => "#"} Action
              %a.btn{:href => "#"} Action
    .btn-toolbar{:style => "margin: 0;"}
      .btn-group
        %button.btn 1
        %button.btn 2
        %button.btn 3
        %button.btn 4
      .btn-group
        %button.btn 5
        %button.btn 6
        %button.btn 7
      .btn-group
        %button.btn 8
