.eye_catch
  %h1 起業に挑戦する人に
  %p 起業する！胸に秘めた熱い想い。だけど、足りないスキルがあって踏み出すのを考えてしまう。
  %p Communitureは「起業の前に修業できる」新しい生活への第一歩を応援します。
  %a.btn.btn-info{:href => "/help/about_communiture"} Communitureとは
.experiences.row-fluid
  %h2
    ここで修業できる
  %ul.thumbnails
    %li.experience.span12
      .thumbnail
        .photo= image_tag 'HJP_1.jpg', width: '300'
        .caption
          .title
            %a{:href => "training/training1"} セールスプロモーション事業のプロジェクトリーダー・セールスコンサルタント、営業の修業ができる。
          .policy
            %p わたくしどもが求めるのは、素直さと情熱を持った志高き人財です。2023年売上げ100億。グループ会社10社。幹部リーダー100名を達成させ、事業と雇用の創出を通して、若い力で日本を明るく元気にしていきます。０から1にする過程を経験出来ることはこれから起業家を志す方にとってかけがえのない経験になることは間違いないでしょう。また、新卒採用中心の弊社だからこそ人に教えて、育てるという人財教育とは何かということを実感されると思います。大きな夢を何が何でも成し遂げたいという強い志のある方お待ちしております。
          .client
            .company_name
              %a{:href => "http://hjp.co.jp/index.htm"} 株式会社HJP Corporation
            .executive
              %p 代表取締役 高橋秀志
    %li.experience.span12
      .thumbnail
        .photo= image_tag 'icare_1.jpg', width: '300'
        .caption
          .title
            %a{:href => "training/training2"} 日本に一つでもゴキゲンな会社を創り出す仕事の修業ができる。
          .policy
            %p Chasing Happiness
            %p 一人一人が活き活きと働き、暮らす事ができる世界の実現を追求する。それが我々のミッションであり、達成したい姿です。技術や能力では未だ世界をリードする力を十分持っている日本において、これから大切になるのは一人一人のメンタリティマネジメント。
            %p 我々は今までに無いサービスを今までに無い形で提供し、日本発世界へ新たなサービスを発信して行きます。
          .client
            .company_name
              %a{:href => "http://www.icare.jpn.com/"} 株式会社iCARE
            .executive
              %p 代表取締役 飯盛崇
    %li.experience.span12
      .thumbnail
        .photo= image_tag 'man.jpeg', width: '300'
        .caption
          .title
            %a{:href => "experiences.html"} 商品の価値だけでなく、その先にあるお客様のおいしい笑顔を見たい。
          .policy
            %p コミットメント。宣言して、やり抜く。クリアできたら更に高い目標を設定し、宣言し、やり抜く。宣言する事で逃げられなくなるし、周囲の注目も集る。協力者も現れる。その為に、深く考えすぎない。出来ると信じる。でも時には休養も必要。遊びも必要。コミットメントとは、自分を縛る事ではなく、自らが主導権を持つ事。それがストレスのない働き方にも繋がる。
          .client
            .company_name
              %a{:href => "http://www.web-mihon.com/privacy.html"} 会社の名前ああああああ
            .executive
              %p 役員の名前ああああああああああああ
