.page-header
  %h1
    料金体系
.row
  .span12
    %ul.flows
      %li.flow
        .flow_01
          .title
            %h2 修業に募集する際の料金体系
          .caption
            %p 修業が決まったら、30万円の修業費用をお支払い頂きます。
            %p 但し、修業費用は下記の基準でキャッシュバック致します。
            %ul
              %li 当社が定めた修業期間終了時、3万円の起業祝い金と共に33万円をキャッシュバック致します。
              %li 当社が定めた修業期間のうち、修業開始月を1か月目として6か月間以上、修業した場合、30万円の修業費用をキャッシュバック致します。
              %li 当社が定めた修業期間のうち、修業開始月を1か月目として6か月間未満で修業を辞めた場合、下記の違約金が適用されます。  
      %li.flow
        .flow_02
          .title
            %h2 違約金について
          .caption
            %p 修業開始月を1か月目として6か月間を最短修業期間といたします。最短修業期間中（6か月）に修業の中断もしくは修業を辞める場合、違約金として150,000円（税込）をご請求いたします。（病気または、その他修業を続けるのに支障を来す場合は除く）そのため、最短修業期間中（6か月）に修業の中断もしくは修業を辞める場合、15万円の修業費用を返金致します。
      %li.flow
        .flow_03
          .title
            %h2 修業費用を頂く理由
          .caption
            %p 当社のサービスは「起業に挑戦する人」のためのサポートを目的として存在しています。そして、私たちは、真剣に「起業する」と考えている方に修業して頂きたいと考えております。そのため、一時的に修業費用として上記金額をお預かりすることにより、真剣に「起業」を考えていない方の応募を極力少なくしたいと考えています。


