.page-header
  %h1
    ああああああああ
.row
  %content.span8
    .photo= image_tag 'suit.jpg' , width: '600'
    %p
      ああああああああああ
  %aside.span4
    .register
      = link_to '応募する', '', {:class => "btn btn-large btn-danger"}
    .price
      .label 修行に応募する費用 :
      %p 30,000円
    .date
      .label 最短修行期間：
      %p 6ヶ月〜
    .company
      .label 会社名:
      %p 株式会社Communiture
    .locate 
      .label 修行場所：
      %p 東京都渋谷区本町1-36
    .offer
      .label 募集人数:
      %p 2人〜
    .salary
      .label 給与 :
      %p 17万円〜　応相談
    .requirements 
      .label 応募資格 :
      %p Webサービスで起業を考えている方 
  %br(style="clear:both")/
