.page-header
  %h1= @experience.title
.row
  %content.span8
    .photo= image_tag 'suit.jpg' , width: '300'
      
    %p
      = @experience.description
  %aside.span4
    .register
      = link_to '応募する', '', {:class => "btn btn-large btn-danger"}
    .price
      28,000円
    .date
      .label 期間：
      %p 一ヶ月〜
    .locate 
      .label 場所：
      %p 渋谷区本町
    .requirements 花屋になりたい方 
  %br(style="clear:both")/
