@import colors

$aside_width: 300px
.training
  margin-left: 10px
  .row
    margin: 0
    width: 940px 
    .span12
      margin: 0
      width: 930px
      .company_profile
        margin-bottom: 30px 
        .photo
          float: left
        .policy
          float: right
          margin: 30px 0 0 0 
          width: 600px
          p
            font:
              size: 20px
              family: serif
            line-height: 1.3
      ul.messages
        clear: both
        margin: 60px 0 
        li.message
          border-bottom: dotted 1px $black
          padding: 20px 0 30px 
          list-style: none
          h2
            margin-bottom: 10px
          .caption
            float: left
            margin: 10px 0 
            width: 500px
            p
              float: left
              line-height: 1.3
              font:
                size: 14px
              margin-bottom: 14px
          img
            float: right
            margin: 10px 0 0 0 
  aside
    width: 600px
    background: $white
    clear: both
    margin: 0 auto
    padding: 30px
    border-radius: 4px
    box-shadow: 0px 0px 2px $black + 30
    .title
      border-bottom: dotted 1px $black 
      padding-bottom: 20px
      margin-bottom: 30px
    .label.label-important
      float: left
      width: 100px
      margin: 10px 0 0
      padding: 10px
      text-align: center 
      font:
        size: 10px
    p
      float: left
      margin: 18px 25px
    .register
      clear: both
      margin: 0 auto
      a
        clear: both
        width: $aside_width - 14 * 2
        margin: 20px 160px 30px
        font:
          size: 30px