@charset "UTF-8"
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script)
@import colors

body
  background-color: $white
  background-image: url("texture.png")
  color: $black
  font: 
    family: sans-serif
#header
  font:
    family: 'Kaushan Script', cursive
  padding: 5px 0 10px
  margin: 0 0 20px 0
  background-image : -webkit-linear-gradient(top, $white, $white - 20)
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
  .inner
    overflow: hidden
    width: 940px
    margin:  0 auto
    .title
      float: left
      padding-right: 60px
      border-right: dotted 1px #ddd
      h1
        line-height: 1.3
        a
          padding: 25px 10px
          font: 
            size: 40px
          text:
            decoration: none 
          color: $red
      p
        margin: 0
        float: right
    nav
      float: right
      overflow: hidden
      margin: 20px 0 0
      text-align: center
      .navbar
        margin: 0
        .navbar-inner
          background-image : none
          background-color : transparent
          padding: 0
          box-shadow: none
          ul.nav
            margin: 0
            li
              margin-left: 14px
            a
              border-radius: 50px
              padding: 10px 0 20px 30px
              font:
                size: 16px
              color: $black
              text-shadow: none
              &:link,
              &:visited
                color: $black
                background: none
              &:hover
                color: $red
              &:active
                color: $red
.container
  border-radius: 40px
  #wrapper
    .eye_catch
      padding: 20px
      overflow: hidden
      background: $black
      color: $white
      margin: 20px 0 30px
      border-radius: 4px
      h1
        font:
          size: 70px
        line-height: 1.5
      p
        font: 
          size: 13px
        margin-bottom: 3px
      a
        float: right
        position: relative 
        right: 9px
        padding: 10px
        font:
          size: 17px
      .images
        margin-top: 20px
        img
          float: left
          width: 280px
          margin: 0 10px
    .experiences.row-fluid
      h2
      ul.thumbnails
        li.experience.span4
          background: $white
          width: 100%
          margin: 6px 0
          border-radius: 10px
          .thumbnail
            overflow: hidden
            padding: 20px
            .photo
              float: left
            .caption
              float: right
              width: 580px
              padding: 0
              .title
                a
                  font:
                    size: 20px
                  //color: #1111cc
                  line-height: 1.3
                  letter-spacing: -1px
              .policy
                margin-top: 30px  
                p
                  font:
                    size: 16px
                    family: serif                
              .client
                margin-top: 30px
                p,
                a
                  font:
                    size: 12px
                .company_name
                  float: left
                .executive
                  margin-left: 10px 
                  float: left

.footer
  background-image : -webkit-linear-gradient(top, $black, $black)
  color: $white - 70
  padding: 30px 0
  .container.row
    .support.span3
      h3
      ul
        margin: 5px 0
        font:
          size: 16px
        li
          list-style: none
          a
            color: $white - 70
    .about_communiture.span3
      h3
      ul
        margin: 5px 0
        font:
          size: 16px
        li
          list-style: none
          a
            color: $white - 70
    .fb-like-box
      float: right
